* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.5;
}

p {
  max-width: 75ch;
}
h1 {
  text-align: center;
}

table {
  border-collapse: collapse;
  width: 80%;
  margin: 20px auto;
}

a {
  text-decoration: none;
  color: rgb(83, 191, 195);
}

th,
td {
  border: 1px solid black;
  padding: 8px;
}

th {
  background-color: #f2f2f2;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #ddd;
  cursor: pointer;
}

.json-input {
  margin: 20px auto;
  width: 80%;
}

.json-input label {
  display: block;
  margin-bottom: 5px;
}

.json-input textarea {
  width: 100%;
  height: 100px;
  resize: vertical;
  padding: 0.5rem;
}

.json-input button {
  margin-top: 10px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 60%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #45a049;
}

.info {
  max-width: 80%;
  margin: 3rem auto;
}

kbd {
  display: inline-block;
  padding: 4px 8px;
  background-color: #000;
  border-radius: 4px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  position: relative;
  z-index: 1;
}
